.chatRoom {
	width: 50%;
	margin: 20px 0px 50px 30px;
	display: flex;	
	flex-direction: column;
	border-right: dashed;
	justify-content: space-between;
}

.chatRoom > form {
	width: 90%;
	margin-bottom: 20px;
}

.chatRoom > form > fieldset {
	height: 80px;
}

.chatRoom > form > fieldset > legend {
	font-size: 30px;
}

.chatRoom > form > fieldset > input {
	width: 60%;
	height: 10px;
	font-size: 20px;
	outline-width: 0;
	padding: 10px;
	border: none;
}

.chatRoom > form > fieldset > button {
	width: 80px;
	height: 31px;
	font-size: 20px;
}

.chatList {
	width: 90%;
	flex: 1;
	display: flex;
	max-height: 300px;
	flex-direction: column;
	overflow: scroll;
	overflow-x: hidden;
}

/*
.chat {
	width: 95%;
	padding: 10px;
	display: flex;
}

.chat:hover:nth-child(odd){
	background-color:#D3D3D3;
}

.chat:hover:nth-child(even){
	background-color:#bfc1c2;
}

.chat > .chatName {
	width: 100px;
	text-align: left;
	font-size: 20px;
}

.chat > h4 {
	margin-right: 20px;
	text-align: left;
	font-size: 20px;
}

.chat > span {
	width: 70%;
	margin-right: 5%;
	font-size: 20px;
	text-align: left;
	word-wrap: break-word;
}

*/

.container {
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	width: 90%;
	display: flex;
}

.darker {
	border-color: #ccc;
	background-color: #ddd;
}

.container::after {
	content: "";
	clear: both;
	display: table;
}

.container img {
	float: left;
	max-width: 60px;
	width: 100%;
	margin-right: 20px;
	border-radius: 50%;
}

.container div{
	width:100%;
}

.time-right {
	float: right;
	color: #aaa;
}