.menu {
	font-size: 25px;
	width:50%;
	margin: 20px 0px 70px 30px;
	display: flex;
    align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.menu > .menuButton {
	border: none;
	opacity: 0.8;
	color: rgba(210, 210, 210);
	background-color: rgba(0, 0, 0, 0.8);
    background-image: url("./picture/border/border_long_3.gif");
	background-size: 100% 100%;
	font-size: 30px;
	font-family: serif;
	height: 100px;
	width: 60%;
	margin-top: 50px;
	border-radius: 20px;
}

.menu > .menuButton:hover{
	opacity: 1.0;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
