@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
}

.timer-container{
 background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  width: 100vw;
  height: 100vh;
}
.timer{
  background-colur: rgba(0, 0, 0, 0.5);
    display: flex;
  flex: column;
  align-items: center;
  justify-conten: center;
  padding-bottem: 7em;
  padding-top: 2em;
  width: 100%;
  height: 100%;
}

.timer div:first-child{
  text-align: center;
}

.timer-icon{
  font-size: 8em;
}

h2 {
  font-weight: 600;
  margin-bottom: 0.5em;
}
