.App {
	font-family: sans-serif;
	text-align: center;
}

a {
    color: #1a0dab;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.10);
}

a:hover {
	text-decoration: underline;
}

.Navbar {
	align-items: left;
	display:inline;
}

.App_header {
	height: 120px;
	float:left;
	width: 60%;
}

.User_header {
	height: 120px;
	float:left;
	width: 40%;
}

.form_input {
	max-width: 200px;
}

.login_form {
	align-items: center;
	display: flex;
	flex-direction: column;
}