* {
	margin: 0;
}

.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: white;
}

.appHeader {
	display: flex;
	background-color: #343a40;
    align-items: center;
	height: 120px;
	width: 100vw;
}

.appBody {
	display: flex;
	background-color: #ededed;
	height: 100%;
	width: 100vw;
}

.chat {
	display: flex;
	flex-direction: column;
	flex: 0.65;
}

.menu {
	margin-top: 20px;
	margin-bottom: 50px;
	display: flex;
    align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.menu > .menuButton {
	font-size: 30px;
	font-family: serif;
	height: 100px;
	width: 300px;
	margin-bottom: 10px;
	border-radius: 20px;
}

.topNavbar {
	color: #ededed;
	display: flex;
	width: 100%;
}

.topNavbarLeft {
	margin-left: 10px;
	width: 50%;
	align-items: center;
	display: flex;
}

.topNavbarLeft > a {
	color: white;
	text-decoration: none;
}

.topNavbarLeft > span {
	margin-left: 10px;
}

.topNavbarRight {
	margin-right: 10px;
	width: 50%;
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

.topNavbarRight > h3 {
	margin-right: 10px;
}

.topNavbarRight > Button {
	margin-left: 10px;
}

.formInput {
	height: 20px;
	max-width: 200px;
}

.form {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.form > input {
	margin-top: 10px;
	margin-bottom: 5px;
}

.form > h3 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.form > .formFooter {
	margin-right: 10px;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

.form > .formFooter > Button {
	margin-left: 10px;
}

.btn {
	margin-right: 10px;
}

.game {
	height: 100%;
}

navbarRight {
	flex: 1;
	display: flex;
}

.hidden {
	visibility: hidden;
}