* {
	margin: 0;
}

.app {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: #dadbd3;
}

.app_header {
    padding: 10px 10px 10px 10px;
	display: flex;
	background-color: #343a40;
    align-items: center;
	height: 120px;
	width: 100vw;
}

.app_body {
	display: flex;
	background-color: #ededed;
	margin-top: -50px;
	height: 90vh;
	width: 100vw;
	box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0, 75);
}

.chat {
	display: flex;
	flex-direction: column;
	flex: 0.65;
}

a {
    color: #1a0dab;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.10);
}

button.MenuButton {
	font-size: 30px;
	font-family: serif;
	height: 100px;
	width: 90%;
	margin-bottom: 10px;
	border-radius: 20px;
}

.navbar-brand {
	Font-size: 44px;
}

.navbar-text > temp{
	Font-size: 44px;
}

.Navbar {
	align-items: left;
	display:inline;
}

.form_input {
	max-width: 200px;
}

.login_form {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.btn {
	margin-right: 10px;
}

navbarRight {
	flex: 1;
	display: flex;
}