.gameRoom {
	width: 50%;
	margin: 20px 0px 50px 30px;
	display: flex;
	flex-direction: column;
    align-items: left;
}

.gameRoom > h1 {
	margin-bottom: 10px;
}

.gameRoomPlayers {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.gameRoomPlayerLine {
	padding: 15px 15px 15px 15px;
    vertical-align: middle;
    background-image: url("./picture/border/border_long_4.gif");
	background-size: 100% 100%;
	width: 550px;
	margin: 10px 0px 10px 0px;
	display: flex;
}

.gameRoomPlayerLine > span {
	font-size: 30px;
	width: 60%;
}

.gameRoomPlayerLine > button {
	opacity: 0.7;
	color: cyan;
	border: 2px solid #000000;
	background-color: rgba(24, 57, 80, 0.8);
	font-size: 30px;
	margin-right: 5px;
	width: 120px;
	border-radius: 5px;
}

.gameRoomPlayerLine > button:hover {
	opacity: 1.0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 2px 0 rgba(0,0,0,0.19);
}


.gameRoomFooter {
	display: flex;
}

.gameRoomFooter > h1 {
	width: 45%;
}

.gameRoomFooter > button {
	opacity: 0.7;
	color: cyan;
	border: 2px solid #000000;
	background-color: rgba(24, 57, 80, 0.8);
	font-size: 30px;
	width: 120px;
	border-radius: 5px;
}

.gameRoomFooter > button:hover {
	opacity: 1.0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 2px 0 rgba(0,0,0,0.19);
}