.game {
    background-image: url("./picture/background.jfif");
    height: 100%;
    width: 1280px ;
	display: flex;
	flex-direction: column;
    color: white;
	align-items: center;
	justify-content: space-between;
}