.leaderboard {
	font-size: 20px;
    background-image: url("./picture/black_floor.jpg");
	width: 100%;
	flex: 1;
	display: flex;
	max-height: 300px;
	flex-direction: column;
	overflow: scroll;
}

.fixed {
	font-weight: bold;
}

.leaderboard > .leader {
	text-align: center;
	width: 90%;
	margin: auto;
	padding: 5px;
	display: flex;
}

.leaderboard > .self {
	background-color: rgba(24, 57, 80);
	font-weight: bold;
}

.leaderboard > .top_1 {
	color: yellow;
    background-image: url("./picture/border/golden_border_long_3.gif");
	background-size: 100% 100%;
	font-weight: bold;
}

.leaderboard > .top_2 {
	color: cyan;
    background-image: url("./picture/border/silver_border_long_3.gif");
	background-size: 100% 100%;
	font-weight: bold;
}

.leaderboard > .top_3 {
	color: orange;
    background-image: url("./picture/border/bronze_border_long_3.gif");
	background-size: 100% 100%;
	font-weight: bold;
}

.leaderboard > .self.top {
	background-color: rgba(24, 57, 80);
	font-weight: bold;
}

.leaderboard > .leader > .leaderRank {
	flex: 0.2;
}

.leaderboard > .leader > .leaderName {
	flex: 0.5;
	overflow: hidden;
	text-overflow: ellipsis;
}

.leaderboard > .leader > .leaderScore {
	flex: 0.3;
}
