.topNavbar {
	color: #ededed;
	display: flex;
	width: 100%;
}

.topNavbarLeft {
	margin-left: 10px;
	width: 50%;
	align-items: center;
	display: flex;
}

.topNavbarLeft > a {
	color: white;
	text-decoration: none;
}

.topNavbarLeft > span {
	margin-left: 10px;
}

.topNavbarRight {
	margin-right: 10px;
	width: 50%;
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

.topNavbarRight > h3 {
	margin-right: 10px;
}

.topNavbarRight > Button {
	margin-left: 10px;
}

.topNavbarRight > Button:hover{
	background-color:#D3D3D3;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
